.admin-logout {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &-icon {
        width: 15px;
        height: 15px;
    }

    &-article {
        padding-right: 10px;
    }
}