.admin-login {
    &-form {
        width: 300px;
        padding: 20px;
    }

    &-title {
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 3rem;
    }

    &-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}