.header {
    border-bottom: 2px solid $color-opacity-black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-panel {
        display: flex;
        gap: 10px;
    }
}
