.cv-load {
    width: 128px;
    height: 128px;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &-hide {
        display: none;
    }

    &-wrapper {
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        height: 128px;
        width: 128px;
        border: 1px solid #ccc;
    }
}
