@use "web/styles/base/variables" as *;

.admin {
    &-logout-wrapper {
        display: flex;
    }

    &-customer {
        display: flex;
        align-items: center;

        &-article {
            display: inline-block;
            padding: 0 15px;
            text-transform: none;
        }

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-article {
            font-size: 1.6rem;
            color: $font_color_base;
        }
    }

    &-menu-paper {
        margin-top: -4px;
    }
}
