.admin-settings-tabs {
    display: flex;
    flex-grow: 1;
    background-color: $color-white;

    .tabs {
        border-right: 1px solid $admin_border_color;
        width: 20%;
    }

    .tab {
        font-size: 1.5rem;
        font-weight: 600;
        align-items: flex-start;
        border-bottom: 1px solid $color-opacity-black;
    }
}
