.admin {
    &-languages-header {
        background: $admin_languages-header_background;
        width: 20%;

        &-text {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    &-languages-cell {
        width: 20%;

        &-text {
            font-size: 1.4rem;
        }
    }

    &-languages-article {
        margin-bottom: 15px;
        width: 100%;
    }
}
