.control-input {
    border: 1px solid hsl(0, 0, 89%);
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.55;
    padding: 8px 12px;
}
