.admin {
    &-languages-article {
        margin-bottom: 15px;
        width: 100%;
    }

    &-languages-settings-row {
        padding-bottom: 35px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
}
