/* global */
$background_color: #ffffff;
$foreground_color: #171717;

/* button-base */
$button_background: hsl(0, 0, 9%);
$button_color: #ffffff;
$button_border-black: hsl(0, 0, 9%);

/* borders */
$header_border-color: hsl(0, 0, 9%);
