@use "web/styles/base/variables" as *;

.admin {
    &-remove-language {
        border: none;
        background: none;
        cursor: pointer;

        &:hover {
            color: $color-azure-blue;
        }
    }
}
