.base-button {
    background: $button_background;
    border: 1px solid $button_border-black;
    border-radius: 5px;
    color: hsl(0, 0, 100%);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 10px 16px;
    width: 100%;
    cursor: pointer;
}
